.tituloproceso{
	background-color: #228B22;
	color: white;
	font-weight: bold;
}

table.tablaproceso {
	align:center;
	padding: 0;
	width: 850px;
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	cellpadding:0;
	cellspacing:0;
	/*border-top: 1px solid #AD1515;
	border-left: 1px solid #AD1515;
	border-right: 1px solid #AD1515;
	border-bottom: 1px solid #AD1515;*/
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	-khtml-border-radius-topleft: 9px;
	-khtml-border-radius-topright: 9px;
	-webkit-border-radius-topleft: 9px;
	-webkit-border-radius-topright: 9px;
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-bottomright: 9px;
	-khtml-border-radius-bottomleft: 9px;
	-khtml-border-radius-bottomright: 9px;
	-webkit-border-radius-bottomleft: 9px;
	-webkit-border-radius-bottomright: 9px;
	background:#FFFFFF;
	padding:10px;
}


table.tablaproceso thead th {
color: #990000;
	text-align: center;
	border:none;
	border-bottom: 1px solid #666666;
	padding-bottom:10px;
	margin-bottom:10px;
font-size: 12px;
}
table.tablaproceso th.titulo {
	color: #990000;
	text-align: center;
	border:none;
	border-bottom: 1px solid #666666;
	padding-bottom:10px;
	margin-bottom:10px;
}

div.tableContainer { clear: both; height: 235px; width: 100%; margin-bottom: 3px; overflow: hidden;}
.tableContainer thead tr { display: block; }
.tableContainer tbody { display: block; height: 180px; overflow: auto; }
.tableContainer thead th{ display: table-cell; font-size: 11px; padding: 2px 4px !important; }
.tableContainer td{ display: table-cell; padding: 4px; }
.tableContainer p{ padding: 0px; }
.tableContainer tr > td:last-child{ white-space: nowrap; }
.tableContainer tr > th:last-child{ }
html:not([dummy]) .tableContainer thead th { width: 350px; }
html:not([dummy]) .tableContainer thead th + th { width: 58px; }
.tableContainer tbody td, [dummy="dummy"]{ width: 372px; }
.tableContainer tbody td + td, [dummy="dummy"] { width: 38px; }
