#contenido {
width: 790px;

}

* html #contenido {
width: 790px;

}


h1.agregar, h1.mostrar, h1.editar, h1.blanco {
	margin-top: 45px;
	width: 790px;
	height: 29px;
	font-size: 15px;
	color:#2E2E2E;
	text-align: center;
}

h1.blanco {
	background: url(imagenes) top left no-repeat;
}

ocultar {
display: none;
}

h1.agregar {
	background: url(imagenes/agregar.png) top left no-repeat;
}
h1.mostrar {
	background: url(imagenes/mostrar.png) top left no-repeat;
}
h1.editar {
	background: url(imagenes/editar.png) top left no-repeat;
}


.cont-tabla{
width: 750px;
/*height: 300px;*/
margin-left: 15px;
margin-top: 10px;
overflow:auto;
}
table.tabla {
	padding: 0;
	width: 715px;
	margin: 10px;
	border-top: 1px solid #AD1515;
	border-left: 1px solid #AD1515;
	border-right: 1px solid #AD1515;
	border-bottom: 1px solid #AD1515;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	-khtml-border-radius-topleft: 9px;
	-khtml-border-radius-topright: 9px;
	-webkit-border-radius-topleft: 9px;
	-webkit-border-radius-topright: 9px;
	margin-left: 35px;
	background:#FFFFFF;
}

table.tablaCorreo {
	padding: 0;
	width: 720px;
	margin: 10px;
	border: 1px solid #BED4EB;
}

table.tabla img {
border: 0;
}
table.tabla thead th {
	background:#AD1515;
	filter:alpha(opacity=85);
	-moz-opacity:.85;
	opacity:.85;
	color: #CCCCCC;
	font-weight: bold;
	font-size: 14px;
}
table.tabla th.titulo {
	color: #CCCCCC;
	font-weight: 12px;
	background:#AD1515;
	text-align: center;
	border-top: 1px solid #AD1515;
	border-left: 1px solid #AD1515;
	border-right: 1px solid #AD1515;
	border-bottom: 1px solid #AD1515;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	-khtml-border-radius-topleft: 9px;
	-khtml-border-radius-topright: 9px;
	-webkit-border-radius-topleft: 9px;
	-webkit-border-radius-topright: 9px;
}
table.tabla .campo {
	border: 1px solid black;
	font-size: 12px;
	color: black;
	
}

table.tabla tfoot input, .boton2 {
	width:133px;
	height: 39px;
	background:url(imagenes/boton2.jpg) ;
	cursor: pointer;
	
}

table.tabla .campomayus {
	border: 1px solid black;
	font-size: 12px;
	color: black;
	text-transform:uppercase;
}

table.tabla tbody input, table.tabla tbody textarea {
	border: 1px solid black;
}
table.tabla tfoot td {
	text-align: center;
	padding: 5px;
}
table.tabla tfoot input, .boton {
	height: 22px;
	background: #BF1818;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-right: 5px;
	
}
.boton-entrar {
	margin-right: 0;
}
table.tabla tbody th {
	padding: 2px;
	font-size: 12px;
	background: #eee;
	color: #2E2E2E;
	text-align: right;
}
table.tabla td {
	padding: 2px;
	font-size: 12px;
	background: #f9f9f9;
}
table.tabla tbody td.izquierda {
	text-align: left;
}
table.tabla tbody th.centrar {
	text-align: center;
}
.texto_azul_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}

/* TABLA JUEGOS*/
/* Show only to IE PC \*/
* html .juegoshead h2 {height: 1%;} /* For IE 5 PC */

.sidejuegos {
	margin:0;  /*center for now */
	/*width: 30em;  ems so it will grow */
	width: 465px;
	background: url(imagenes/sbbody-r.gif) no-repeat bottom right;
	font-size: 12px;
}
.juegoshead {
	background: url(imagenes/sbhead-r.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: left;
}
.juegoshead h2 {
	background: url(imagenes/sbhead-l.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: #FFFFFF; 
	font-weight: bold; 
	font-size: 13px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.juegosbody {
	background: url(imagenes/sbbody-l.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
}

