/* DECLARACIONES UNIVERSALES */
* {
margin:0; 
padding:0 ;
font-family:Verdana, Arial, Helvetica, sans-serif;
color: #828282;
}
a { 
text-decoration: none;
}
a:hover { 
text-decoration: none;
}
img { 
border: 0;
}

body {
margin:10px;
}

.h2{
background:url(imagenes/h2.png) no-repeat;
height:25px;
color:#EBEBEB;
text-align:left;
font-style:italic;
font-size:16px;
font-weight:bold;
padding-left: 15px;
padding-top:2px;
margin-bottom: 15px;
}

.top{
margin-bottom: 15px;

}

.contenedor_principal { 
width: 790px;
margin: 0px auto;
height: auto;
background:#6C0208 url(imagenes/cont_top.png) no-repeat top;
}

.contenedor { 
width: 779px;
height:auto;
background: #FFFFFF;
background: #FFFFFF url(imagenes/linea_izq.png) left repeat-y;
float:left;
margin-left:3px;
}

.contenedor2 { 
width: 779px;
height:auto;
background: #FFFFFF;
float:left;
margin-left:3px;
}

#cont_contenido{
text-align:center;
}

#cont_central{
margin:10px;
}

.cont_bottom { 
width: 790px;
height: 9px;
background:url(imagenes/cont_piso.png) bottom left no-repeat;
clear:both;
}

.logo_top { 
width: 780px; 
height: 95px;
background:url(imagenes/banner_top.png) bottom no-repeat ;
margin-left: 5px;
}

.marquesina_atn{ 
width: 245px; 
height: 18px;
background:#6C0208;
text-align:left;
padding-top: 4px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-style:italic;
float:left;
margin-left: 6px;
}

#marquesina{ 
width: 520px; 
height: 18px;
background:#6C0208;
text-align:left;
padding-top: 4px;
font-size:11px;
font-weight:bold;
float:left;
}

.colum_izquierda { 
width: 245px;
float: left;
background: #EBEBEB url(imagenes/linea_degradada.png) bottom repeat-x;
}

.colum_central { 
width: 532px;
float: left;
}

.colum_izquierda .cont_enlace{
width:212px;
height:100px;
background:#FFFFFF;
margin-left: 13px;
margin-bottom: 10px;
text-align:center;
border-left: 3px solid #FFFFFF;
border-right: 3px solid #FFFFFF;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 9px;
-khtml-border-radius-topleft: 9px;
-khtml-border-radius-topright: 9px;
-webkit-border-radius-topleft: 9px;
-webkit-border-radius-topright: 9px;
}

.cont_login{
width:190px;
height:100px;
background:#FFFFFF;
margin-top: 15px;
margin-left: 23px;
margin-bottom: 10px;
color: #828282;
font-size:11px;
border-left: 3px solid #FFFFFF;
border-right: 3px solid #FFFFFF;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 9px;
-khtml-border-radius-topleft: 9px;
-khtml-border-radius-topright: 9px;
-webkit-border-radius-topleft: 9px;
-webkit-border-radius-topright: 9px;
}

.cont_login .boton{
background:url(imagenes/boton.png) no-repeat bottom;
margin-top: 5px;
color:#FFFFFF;
font-size:9px;
width:40px;
height:19px;
border-width:thin;
border-style:none;
cursor:pointer;
}

.cont_noticia{
width:512px;
height:205px;
border:#9A9A9A 1px solid;
clear:both;
}

.cont_conv_rrhh{
width: 253px;
height: 95px;
float:left;
margin-left: 2px;
margin-top: 5px;
}

.convocatoria{
width: 510px;
height: 110px;
margin-bottom: 5px;
border: 1px solid #9A9A9A;
float:left;
border: 1px solid #9A9A9A;
}

.top_conv{
margin-top: 5px;
width: 512px;
height: 26px;
float:left;
background: url(imagenes/top_convocatorias.png) no-repeat center;
}

.bottom_noticia{
width: 482px;
padding:4px 15px;
font-size:12px;
float:left;
text-align: right;
color: #828282;
background:#EAEAEA;
}

.bottom_noticia_mostrar{
width: 482px;
padding:4px 15px;
font-size:12px;
float:left;
text-align: right;
color: #828282;
}

.bottom_conv{
width: 480px;
padding:4px 15px;
font-size:12px;
float:left;
text-align: right;
color: #828282;
background:#EAEAEA;
}



#marqueecontainer{
position: relative;
width: 490px; /*marquee width */
height: 83px; /*marquee height */
overflow: hidden;
margin-top: 5px;
margin-left: 5px;
padding-left: 5px;
font-size: 12px;
}


.colum_central .cont_izquierdo{
width: 194px;
height: auto;
float:left;
background:#EAEAEA;
margin-bottom: 5px;
border: 1px solid #9A9A9A;
-moz-border-radius-topleft: 9px;
-moz-border-radius-topright: 9px;
-khtml-border-radius-topleft: 9px;
-khtml-border-radius-topright: 9px;
-webkit-border-radius-topleft: 9px;
-webkit-border-radius-topright: 9px;
}
.colum_central .cont_centro{
width: 150px;
float:left;
margin-left: 5px;
border:#E0E0E0 3px solid;
margin-bottom: 10px;
}

.cont_centro .cont_enlace{
width: 132px;
height: 68px;
padding: 9px;
float:left;
}

.colum_central .cont_derecho{
width: 150px;
float:left;
margin-left: 2px;
}

.cont_derecho .cont_enlace{
width: 150px;
height: 40px;
float:left;
margin-bottom: 10px;
}

.footer{
width: 790px;
height:45px;
background:url(imagenes/footer.png) no-repeat;
margin: 2px auto;
text-align:center;
color:#666666;
font-size:10px;
padding-top: 4px;
}

.cont_feha{
margin-top: 40px;
float:right;
width: 370px;
font-size: 10px;
color:#FFFFFF;
}

.cont_video{
width: 480px;
height:auto;
/*border:#990000 1px solid;*/
padding-left: 5px;
margin-left: 10px;
padding-top: 10px;
padding-bottom: 40px;
text-align:center;
font-size: 12px;
margin-bottom: 10px;
}

.cont_video .video{
float:left;
clear:both;
width: 300px;
text-align:left;
padding: 5px;
}

.cont_video #clips{
width: 150px;
height:240px;
float:left;
margin-left: 10px;
text-align:left;
}

.play{
width: 150px; 
height: 70px;
margin-bottom: 5px;
background:url(imagenes/estatus/video.jpg) no-repeat center;
cursor:hand;
}

.play p.time {
	padding-top:5px;
	padding-left:5px;
	color:#777;
	font-size: 11px;
	font-weight:bold;
} 

.ver_nota{
width: 512px;
height: 500px;
font-size: 12px;
background: #f9f9f9;
filter:alpha(opacity=85);
-moz-opacity:.85;
opacity:.85;
border:#9A9A9A 1px solid;
overflow:auto;
}

.ver_nota2{
width: 512px;
font-size: 12px;
background: #f9f9f9;
filter:alpha(opacity=85);
-moz-opacity:.85;
opacity:.85;
border:#9A9A9A 1px solid;
overflow:auto;
}

.ver_nota p{
margin-top: 12px;
margin-left: 10px;
margin-right:10px;
}

/*Menu Principal*/
.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font-size: 11px;
color: #2E2E2E;
background: url(imagenes/arrow.png) no-repeat center left;
margin-bottom: 6px; /*bottom spacing between header and rest of content*/
padding: 10px 0;
padding-left: 19px;
cursor: hand;
cursor: pointer;
font-weight:normal;
}

.colum_izquierda .arrowlistmenu{
width: 230px; /*width of menu*/
margin-left: 10px;
}

.colum_izquierda .arrowlistmenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.colum_izquierda .arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
margin-left: 10px;
}

.colum_izquierda .arrowlistmenu ul li a{
color: #828282;
 background: url(imagenes/arrow2.png) no-repeat center left;/*custom bullet list image*/
display: block;
padding: 10px 0;
padding-left: 15px; /*link text is indented 19px*/
text-decoration: none;
/*border-bottom: 1px solid #dadada;*/
font-size:11px;

}

.colum_izquierda .arrowlistmenu ul li a:visited{
color:#828282;
}

.colum_izquierda .arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #434343;
background-color: #F3F3F3;
}


/*Menu#2*/
.cont_izquierdo .arrowlistmenu{
width: 185px; /*width of menu*/

}

.cont_izquierdo .arrowlistmenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.cont_izquierdo .arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
margin-left: 10px;
}

.cont_izquierdo .arrowlistmenu ul li a{
color: #828282;
background: url(imagenes/arrow2.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 8px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
/*border-bottom: 1px solid #dadada;*/
font-size:11px;

}

.cont_izquierdo .arrowlistmenu ul li a:visited{
color:#828282;
}

.cont_izquierdo .arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #434343;
background-color: #F3F3F3;
}



