.menu {
margin-top: 6px;
width: 700px; 
height: 22px;
float:right;
margin-right: 10px;
clear:both;

}

.menu-aplicaciones{
width: 790px; 
height: 26px;
float:right;
background:url(menu-aplicaciones-edu.jpg) left center no-repeat;
}

.chromestyle{
width: auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
width: 100%;
padding: 6px 0px;
margin: 0;
text-align: right; /*set value to "left", "center", or "right"*/
font-size: 11px;
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color:#333333;
padding: 4px 10px;
margin: 0;
text-decoration: none;
background:#EAE9E9;
border-left: 1px solid #EAE9E9;
border-right: 1px solid #EAE9E9;
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright: 12px;
-khtml-border-radius-topleft: 12px;
-khtml-border-radius-topright: 12px;
-webkit-border-radius-topleft: 12px;
-webkit-border-radius-topright: 12px;
}

.chromestyle ul li a:hover{
color:#000000;
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
/*content: " v";*/
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #333333; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font-size: 11px;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/

/*z-index:1;*/
filter:alpha(opacity=90);
-moz-opacity:.90;
opacity:.90;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #333333; /*THEME CHANGE HERE*/
padding: 0px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}